.sidebar {
    height: 100%;
    width: 250px;
    background-color: white;
    border-right: 1px solid rgba(28,105,149, 0.1);
    flex-shrink: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.sidebarList {
    height: auto;
    width: 100%;
    padding: 0;
}

.row {
    width: 100%;
    height: 60px;
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: "Playfair Display", serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.row:hover {
    cursor: pointer;
    color: rgba(28,105,149, 1);
}

.icon {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    flex: 80%;
    display: flex;
    align-items: center;
    transition: color 0.3s ease, transform 0.3s ease;
    text-decoration: none; /* Ensure it looks like a button */
    color: inherit;
}

.title:hover {
    transform: translateX(10px);
}
